@model IEnumerable<AttendanceSystem.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class=" btn btn-primary  text-white table-bordered active" asp-action="Create">Create New</a>
</p>
<div class="active-cyan-3 active-cyan-4 mb-4">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="myInput" onkeyup="myFunction()">
</div>



<table class="table border active table-hover" id="myTable">
    <thead class="thead text-white" style="        background-color: #81b69d">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicYear)
                </td>
                <td>
                    @item.Birthday.ToShortDateString()
                </td>
                <td>
                    <a  class=" btn btn-primary  text-white table-bordered active" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class=" btn btn-primary  text-white table-bordered active" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class=" btn btn-primary  text-white table-bordered active" asp-action="Delete" asp-route-id="@item.Id">Delete</a>


                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

